<!DOCTYPE html>
<html>
  <head>
    <title>Рубежный контроль №2</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <%= link_to input_path do %>
        <div class="logo" href="/input">Рубежный контроль №2</div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
